.gallery img{
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%
        
}

h1{
    color:gold;
    font-family:serif;
    text-decoration:underline;
    background-color:black;
    text-align:center;
    padding-bottom:  10px;
    padding-top: 10px;
    font-size: 50px;
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2{
    color:gold;
    font-family: serif;
    text-decoration:underline;
    background-color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 900;
    
}

#menu a{
    color: yellow;
    font-family: serif;
    text-decoration: none;
    background-image: url(images/menu-button.gif);
    background-repeat: no-repeat;
    display: block;
    width:128px;
    height:25px;
    font-size:20px; 
    font-weight: 800;
    padding-left: 15px;
    
    
    margin-top: 5px;
    margin-bottom: 10px;
    
   float:left;
    
}

#menu a:hover {
    background-image:url(images/menu-button-hover.gif);
    color: black;
}



         

h4{
    color: gold;
    font-family: serif;
    text-decoration:underline;
    background-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p{
    color: gold;
    font-family: serif;
    text-decoration: none;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
body{
    background-color: black;
}

